<!DOCTYPE html>
<html>
<head>

    <title>About Nata</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css"/>

</head>
<body>
<div class="header"> Gurskaya Nata - Poetry Page</div>
<div class="text">
    <h1> Welcome to my poetry page</h1>
    <p>I'm happy to share my favourite poetry with you!</p>

    <h2>She Walks In Beauty</h2>
    <h3>(by <a href="https://en.wikipedia.org/wiki/Lord_Byron" target="_blank">Lord Byron</a>)</h3>
    She walks in beauty, like the night<br>
    Of cloudless climes and starry skies;<br>
    And all that's best of dark and bright<br>
    Meet in her aspect and her eyes:<br>
    Thus mellowed to that tender light<br>
    Which heaven to gaudy day denies.<br>
    <br>
    One shade the more, one ray the less,<br>
    Had half impaired the nameless grace<br>
    Which waves in every raven tress,<br>
    Or softly lightens o'er her face;<br>
    Where thoughts serenely sweet express<br>
    How pure, how dear their dwelling place.<br>
    <br>
    And on that cheek, and o'er that brow,<br>
    So soft, so calm, yet eloquent,<br>
    The smiles that win, the tints that glow,<br>
    But tell of days in goodness spent,<br>
    A mind at peace with all below,<br>
    A heart whose love is innocent!<br>
    <br>
    <a href="https://www.facebook.com/natalia.kharchenko.90?ref=bookmarks" class="button" target="_blank">Visit my
        FB</a>
</div>
<div><img src="image/photo.JPG"></div>
<footer class="footer"> © 2018 Copyright</footer>
</body>
</html>